body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* navbar */

.navbar {
    height : 5rem;
    background-color: rgb(255, 255, 255);
}

.fa-compass{
    color : #fe424d;
    font-size: 2rem;
    margin-left: 1rem;
}

.nav-link{
    color: #2e2b2b !important;
}

.navbar .search-btn{
    background-color: #fe424d;
    color: #ffffff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;

}
.navbar .search-btn:hover{
    background-color: #fe424d;
    color: #ffffff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
}
.navbar .search-btn i{
    display: inline;
    margin-right: 0.3rem;
}
.navbar .searchInput{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
} 


/* footer */



.f-info-links a{
    text-decoration: none;
    color: #2e2b2b;
}

.f-info-links a:hover{
    text-decoration: underline;
    
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.f-info-socials i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
     padding: 0 !important;   
    }
.card-text p{
    font-weight: 400 !important;

}

.listing-link{
    text-decoration: none !important;
}

/* Card Effect */

.card-img-overlay{
    opacity: 0;

}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* new.ejs */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    height: 2.4rem;
}


/* show page */

.show-img{
    height: 40vh;
}
.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}


/* Map */

#my-map {
    height: 400px;
    width: 600px;
}


/* index.ejs*/

#filters{
            
            display: flex;
            flex-wrap: wrap;
            align-items: center;
       
 
        }
            
        
.filter{
            margin-top: 1.5rem;
            margin-right: 2.5rem;
            text-align: center;
            opacity: 0.7;
        }
.filter:hover{
            opacity: 1;
            cursor: pointer;
        }
.filter p{
            font-size: 0.8rem;
            
        }
.tax-info{
            display: none;
            font-size: 0.8rem;
        }
.tax-toggle{
            border: 1px solid black;
            border-radius: 0.5rem;
            height: 3rem;
            padding: 1rem;
            display: flex;
            align-items: center;
            margin-left: auto;
            
            
        }